/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/social.jpeg");
  background-size: cover;
}

body {
  font-size: 1.6rem;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
