@use "./mixins" as *;
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.4rem;
  @include desktop {
    font-size: 1.6rem;
  }
  margin: 0;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/social.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
