@use "./partials/resets";
@use "./partials/mixins" as *;

.navbar {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem 0;
  position: relative;
  width: 100%;
  background-color: #fff;

  &__title {
    color: black;
    font-size: 2rem;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.6rem;
  gap: 4rem;
  flex: 1 0 40vh;
}

.suggestion {
  display: flex;
  justify-content: center;
  color: #ffffff;
  position: relative;
  z-index: 2;
  @include tablet {
    width: 70%;
  }

  &__txt {
    text-align: center;
    font-size: 3.6rem;
    @include tablet {
      font-size: 5.4rem;
    }
  }
}

.motivation {
  &__txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
  }

  &__quote {
    margin: 0;
  }

  &__author {
    font-style: italic;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 2rem 1.6rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) -7.57%,
    rgba(0, 0, 0, 0.7) 100%
  );

  @include tablet {
    padding: 20px 100px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
    @include tablet {
      flex-direction: row;
      gap: 0;
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
    gap: 2rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__people {
    height: 4rem;
    border: 2px solid #ffffff;
    border-radius: 28px;
    background-color: transparent;
    padding: 0 2rem;
    color: #ffffff;

    @include tablet {
      width: 19rem;
    }
  }

  &__label {
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;

    &-icon {
      display: block;
      aspect-ratio: 1/1;
      width: 2.4rem;
      filter: invert(100%);
    }
  }
  &__cat {
    @extend .footer__people;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }
  &__randomise {
    @extend .footer__people;
    background: #ffffff;
    color: black;
    font-weight: bold;
  }

  &__refresh {
    @extend .footer__randomise;
  }
}
