/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.4rem;
  margin: 0;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/social.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem 0;
  position: relative;
  width: 100%;
  background-color: #fff;
}
.navbar__title {
  color: black;
  font-size: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.6rem;
  gap: 4rem;
  flex: 1 0 40vh;
}

.suggestion {
  display: flex;
  justify-content: center;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .suggestion {
    width: 70%;
  }
}
.suggestion__txt {
  text-align: center;
  font-size: 3.6rem;
}
@media screen and (min-width: 768px) {
  .suggestion__txt {
    font-size: 5.4rem;
  }
}

.motivation__txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.motivation__quote {
  margin: 0;
}
.motivation__author {
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 2rem 1.6rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.57%, rgba(0, 0, 0, 0.7) 100%);
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 2rem;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__form {
    flex-direction: row;
    gap: 0;
  }
}
.footer__filters {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  gap: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__filters {
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
  }
}
.footer__filter {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer__people, .footer__randomise, .footer__refresh, .footer__cat {
  height: 4rem;
  border: 2px solid #ffffff;
  border-radius: 28px;
  background-color: transparent;
  padding: 0 2rem;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__people, .footer__randomise, .footer__refresh, .footer__cat {
    width: 19rem;
  }
}
.footer__label {
  color: #ffffff;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}
.footer__label-icon {
  display: block;
  aspect-ratio: 1/1;
  width: 2.4rem;
  filter: invert(100%);
}
.footer__controls {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer__controls {
    gap: 2rem;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__controls {
    flex-direction: row;
  }
}
.footer__randomise, .footer__refresh {
  background: #ffffff;
  color: black;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */